# Collections 

There is a tutorial at the end of this quick lab. You may want to review it first :)

## Quick Lab 1

In this lab you will explore Lists

### To Do 1: Create a list

* Create a list variable called top5 initialised with four of your favourite movie titles
* Add your last fave (sic) movie to the end of the list
* Print your movie list or write a for loop to individually print each item

In [5]:
# top5 = []



#for title in top5:
#    print(title)

### To Do 2: Replace Stuff

* Replace the 2nd movie with a movie you have seen in last year
* Replace 3rd and 4th movies with the best 2 or 3 movies you have seen in the last 5 years (no duplicates)

**Make sure you have executed the previous code cell or this next one won't work!**

### To Do 3: Use pop
* Allow the user to enter the title of a movie
* Use the pop() method to pop the last item and print the removed item
* Append the new movie title entered by the user to the list
* Print the list

**Make sure you have executed the previous code cell or this next one won't work!**

## To Do 4: Slice a list

Lists can be sliced just like strings.

For the following list return the first three elements.

In [ ]:
elements = ["One", "Two", "Three", "Four", "Five", "Six", "Seven"]
print(elements)

### Now return
* Five, Six, Seven
* Two, Three, Four, Five, Six

In [ ]:
elements = ["One", "Two", "Three", "Four", "Five", "Six", "Seven"]
print(elements)

## Strides

When we index we usually access every one element. But what if we wanted every two. Use a stride index.

The following will return every number using a stride index of 1 (the default)
```
>>> numbers = [1, 2, 3, 4, 5, 6, 7, 8]
>>> numbers[0::1]
[1, 2, 3, 4, 5, 6, 7, 8]

```
But the following stride index of two returns overy other number
```
>>> numbers = [1, 2, 3, 4, 5, 6, 7, 8]
>>> numbers[0::2]
[1, 3, 5, 7]

```

### Using the data below and with a stride
* Starting from 'One' Return every other number except the last one

In [2]:
elements = ["One", "Two", "Three", "Four", "Five", "Six", "Seven"]
print(elements)

['One', 'Three', 'Five']

# Collections Tutorial

Collections allow more than one piece of data to be stored in a variable at one time

## Lists

In Python lists store data in sequences that are accessible via unique indexes.

Lists are defined using [ ] and can either be empty as [ ] or contain comma seperated values [12, 33, 23, 22 ]

To simply define an empty list you would write the following

In [ ]:
names = [] # or
names = list()
names

[]

To initialise a list with data write:

In [ ]:
names = ["Fred", "Mina", "Bob", "Tam"]
print(names)

## List Indexing
Lists are indexed in an identical way to strings

Positive numbers will access items from the left side of the list starting with the first item at position 0

In [ ]:
names = ["Fred", "Mina", "Bob", "Tam"]
first = names[0]
last =  names [-1]
print(first, last)

Fred Tam

In [ ]:
####List Slicing

Lists can be sliced in a similar way to strings with [from:upto(not including)] syntax

In [ ]:
names = ["Fred", "Mina", "Bob", "Tam"]
names[0:3] # Starting with item at position 0 upto not including item at position 3

['Fred', 'Mina', 'Bob']

Checking Membership with in

In [ ]:
"Bob" in ["Fred", "Mina", "Bob", "Tam"]

True

## Modifying Lists

Lists are mutable types and so can be changed

In [ ]:
names = ["Fred", "Mina", "Bob", "Tam"]
names[1] = "Raz"
print(names)

['Fred', 'Raz', 'Bob', 'Tam']

You can also add to the end of list using **append**

In [ ]:
names = ["Fred", "Mina", "Bob", "Tam"]
names.append("Suzy")
names.append("James")
print(names)

['Fred', 'Mina', 'Bob', 'Tam', 'Suzy', 'James']

To add multiple items to the end of a lis either use **+= or extend**

In [ ]:
names = ["Fred", "Mina", "Bob", "Tam"]
names += ["Suzy", "James"]
print(names)

names.extend(["Simon", "Bez"])
print(names)

['Fred', 'Mina', 'Bob', 'Tam', 'Suzy', 'James']
['Fred', 'Mina', 'Bob', 'Tam', 'Suzy', 'James', 'Simon', 'Bez']

To replace items in a list use ranges.

Here we are replacing list items 1:4 which is 1 thru 3 (not including 4) with ["Simon", "Bez"]

In [ ]:
names = ["Fred", "Mina", "Bob", "Suzy", "Tam"]
print(names)
names[1:4] = ["Simon", "Bez"]
print(names)

['Fred', 'Mina', 'Bob', 'Suzy', 'Tam']
['Fred', 'Simon', 'Bez', 'Tam']

To insert to a specific location use **insert**

In [ ]:
names = ["Fred", "Mina", "Bob", "Tam"]
print(names)
names.insert(1, "Bez")
print(names)

You can also use the range syntax to insert multiple items at a specific location


Code below inserts two items starting at position 1 uptobut not including position 1.This means it doesn't do a replacement

In [ ]:
names = ["Fred", "Mina", "Bob", "Suzy", "Tam"]
print(names)
names[1:1] = ["Simon", "Bez"]
print(names)

['Fred', 'Mina', 'Bob', 'Suzy', 'Tam']
['Fred', 'Simon', 'Bez', 'Mina', 'Bob', 'Suzy', 'Tam']

### Removing Items from Lists

**pop** removes the item from the right side of the list and returns its.

You can also pass an index number as a parameter to return the item at that position in the list

In [ ]:
names = ["Fred", "Mina", "Bob", "Suzy", "Tam"]
print(names)
popped_name = names.pop()
print(popped_name)
print(names)

['Fred', 'Mina', 'Bob', 'Suzy', 'Tam']
Tam
['Fred', 'Mina', 'Bob', 'Suzy']

## Multi Dimensional Lists

Lists can contain every other object type in Python that includes other lists.

Its possible to define a list within a list such as:

["Fred", "Amy", ["Suzy", "Tom"], "Bob"]

Item at position 2 is a list rather than a str

In [ ]:
friends = ["Fred", "Amy", ["Suzy", "Tom"], "Bob"]
print(friends[0])# first item in list
print(friends[2]) # third item as list
print(friends[2][1]) # second item of embedded list

Fred
['Suzy', 'Tom']
Tom

# Tuples

Lists are read/write. Tuples are effectively immutable or read only lists. Very useful if you want to pass them to other functions and not risk them being changed in the process!

You can define a tuple using ( ) instead of [ ] (but it's actually just the comma seperated values that make the tuple)

names = ("Fred", "Amy", "Bob")

would be a read only tuple although you could miss out the ( ) and it would still be ok.

In [ ]:
names = ("Fred", "Amy", "Bob")
print(names)
print(names[0])

('Fred', 'Amy', 'Bob')
Fred

## Upacking Tuples (or lists)

Tuples can be accessed using the same indexing and slicing techniques as lists as long as the access is read only

Tuples and list members can also be unpacked into defined variables.

In [ ]:
details = "Fred", 21, "11 The High St"
first_name, age, address = details
print(age,first_name, address)

21 Fred 11 The High St

###Uneven unpacking

What happens if you try to unpack a list or a tuple into fewer variables than items in the list or tuple?

In [ ]:
details = ["Fred", 21, "11 The High St", "27834"]
first_name, age, address = details
print(age,first_name, address)

ValueError: ignored

That's right you get an error!

To overcome this problem use the * syntax on the last parameter which copies the remaining list items into the last variable as a list

In [ ]:
details = ["Fred", 21, "11 The High St", "27834"]
first_name, age, *extra_details = details
print(age)
print(first_name)
print(extra_details)

21
Fred
['11 The High St', '27834']

# Dictionaries

If a list or tuple is a numbered list of items, a dictionary is a keyed (or hashed) list where the key/hash is an identifier that uniquely identifies the item in the dictionary.

You could have a dictionary of employees for example where the key would be the employee id or social security number. Anything that uniquely identifies the item works well.

The point is that you can use the key to retrieve the item without having to search the entire dictionary. Kind of like an actual dictionary.

In [ ]:
employees = {"12-333-44":"Fred Bloggs",
            "22-323-89":"Beth McGregor",
            "12-567-43": "Ravi Cox"}

employee_id = input("Enter the employee's id:")
print(f"Employee with id {employee_id} is {employees[employee_id]}")

Enter the employee's id:22-323-89
Employee with id 22-323-89 is Beth McGregor

Dictionaries are made up of key:value pairs sperated by commas. In Python dictionaries are contained inside { }

They can be preppulated (as above) or generated dynamically

In [ ]:
employees = {"12-333-44":"Fred Bloggs",
            "22-323-89":"Beth McGregor",
            "12-567-43": "Ravi Cox"}

employees["99-888-77"] = "Tom Thomas"

print(employees)

{'12-333-44': 'Fred Bloggs', '22-323-89': 'Beth McGregor', '12-567-43': 'Ravi Cox', '99-888-77': 'Tom Thomas'}

Two dictionaries can be joined:

In [ ]:
employees = {"12-333-44":"Fred Bloggs",
            "22-323-89":"Beth McGregor"}

new_hires = { "99-888-77": "Tom Thomas", "12-567-43": "Ravi Cox"}

employees.update(new_hires)

print(employees)

{'12-333-44': 'Fred Bloggs', '22-323-89': 'Beth McGregor', '99-888-77': 'Tom Thomas', '12-567-43': 'Ravi Cox'}

Items can be popped from a dictionary

In [ ]:
employees = {"12-333-44":"Fred Bloggs",
            "22-323-89":"Beth McGregor",
            "12-567-43": "Ravi Cox"}
print(employees)
print(employees.pop("22-323-89"))
print(employees)

{'12-333-44': 'Fred Bloggs', '22-323-89': 'Beth McGregor', '12-567-43': 'Ravi Cox'}
Beth McGregor
{'12-333-44': 'Fred Bloggs', '12-567-43': 'Ravi Cox'}

## Indexing into a Dictionary?

Dictionaries have the following methods which return different parts of the dictionaries as lists or tuples

**keys** returns a "list" of all of the dictionaries keys

**values** returns a "list" of all of the dictionaries values

**items** returns a tuple of each of the dictionaties items as a key, value tuple

(list in this case is actually an iterator that will be covered later)

In [ ]:
employees = {"12-333-44":"Fred Bloggs",
            "22-323-89":"Beth McGregor",
            "12-567-43": "Ravi Cox"}
print(employees.keys())
print(employees.values())
print(employees.items())

dict_keys(['12-333-44', '22-323-89', '12-567-43'])
dict_values(['Fred Bloggs', 'Beth McGregor', 'Ravi Cox'])
dict_items([('12-333-44', 'Fred Bloggs'), ('22-323-89', 'Beth McGregor'), ('12-567-43', 'Ravi Cox')])

## Labs 2 - Dictionaries

You will be working in PyCharm for this Lab