# Strings

Strings in Python 3 are sequences of unicode (multibyte) characters. There is a tutorial at the end of the quicklabs.

## Quick Lab 1

### ToDo 1
* Look at the code below
* Using string slicing print just part of the message string for "The quick fox"

In [2]:
message = "The quick fox, jumped over the fence"
print(message)

The quick fox, jumped over the fence

### ToDo 2
* How does the message string below differ to the one above?
* Run the code to see the diference
* Using string slicing change the the print so that a blank line is not displayed after the message
**Hint: You need to remove the newline char**

In [5]:
message = "The quick fox, jumped over the fence\n"
print(message)

The quick fox, jumped over the fence

### ToDo 3

By default message[0:-1] is actually saying message[0:-1:1]

Translated that means - Starting at char 0 return every 1 char upto but not including the char at -1 (the end char)

The last index 1 is the stride. If we set it to one (the default) it means every 1 char in ascending sequence order.
A negative index would be descending sequence order. To return negative orders you would start at the end and end at the beginning!

Try below

In [26]:
message[-1:0:-1]

'\necnef eht revo depmuj ,xof kciuq eh'

* Can you fix it to give

`
necnef eht revo depmuj ,xof kciuq ehT
`

In [ ]:
message[-1:0:-1]

## Quick Lab 2

Try running the order printing code below.

We want it to look like this

```
Order No         :            2365
Total Price      :        7,867.25
Discount %       :               5
Tax %            :              20
Total            :        8,968.67
```

Hints:

To print a number within 20 spaces

In [54]:

num = 1234
print(f"{num:>20}")

                1234

To format it as a float with 2 decimal places we would do

In [45]:
num = 1234.232
print(f"{num:>20.2f}")

             1234.23

To add a thousands separator we would

In [46]:
num = 1234.232
print(f"{num:>20,.2f}")

            1,234.23

### To Do

Try formatting the following print statements to display the variables within 15 spaces

If you have time try to zero fill the Order Number

In [64]:
order_no = 2365
total_price = 7867.25
tax_percent = 0.2
discount_percent = 0.05
discount = total_price * discount_percent
tax = (total_price - discount) * tax_percent
total_plus_tax = total_price - discount + tax

print(f"Order No         : {order_no}")
print(f"Total Price      : {total_price}")
print(f"Discount %       : {discount_percent * 100}")
print(f"Tax %            : {tax_percent * 100}")
print(f"Total            : {total_plus_tax}")

Order No         : 2365
Total Price      : 7867.25
Discount %       : 5.0
Tax %            : 20.0
Total            : 8968.665

## Quick Lab 3 - String Methods

Strings in Python are immutable. That means you never change a string you always create a new string from an old one.

Strings have methods you can use to manipulate your string objects.

upper() returns your string in upper case. No prizes for guessing what lower() does.

In [58]:
name = "fred bloggs"
print(name.upper())
print(name.title())

FRED BLOGGS
Fred Bloggs

There are two methods to help you find the position of one string inside another
* find
* index

In [59]:
message = "The quick fox jumped over the dog"
message.find("fox")

10

In [60]:
message = "The quick fox jumped over the dog"
message.find("car")

-1

### To Do 1
* Run the code below and you will see it does the same as find
* Now change fox to cat
You choose how you want to handle it.

In [63]:
message = "The quick fox jumped over the dog"
message.index("fox")

10

#### Replacing Strings


### To Do 2 Use replace to do string replacement.

Below use the replace method to replace all fox strinsg with cat

In [65]:
message = "The quick fox jumped over the fox"

'The quick cat jumped over the cat'

### To Do 3 - Limit replacement

Now just replace the first element found

In [66]:
message = "The quick fox jumped over the fox"

'The quick cat jumped over the fox'

### To Do 4

* Execute the code below, what did it do?
* Try returning just the second movie in the list returned

In [67]:
data = "Star Wars, George Lucas, 1977\nLegally Blonde,Robert Luketic, 2001\nJaws,Steven Speilberg,1975\n"
data.splitlines()

['Star Wars, George Lucas, 1977',
 'Legally Blonde,Robert Luketic, 2001',
 'Jaws,Steven Speilberg,1975']

* Now try running the function *split* against the following string
*

In [70]:
data = "Legally Blonde,Robert Luketic, 2001"
data.split(",")

['Legally Blonde', 'Robert Luketic', ' 2001']

* Using a for loop 
* Print the director of every movie in the data string below

The results should be
```
George Lucas
Robert Luketic
Steven Speilberg
Jurassic Park
```

In [79]:
data = "Star Wars,George Lucas,1977\nLegally Blonde,Robert Luketic,2001\nJaws,Steven Speilberg,1975\n,Jurassic Park,Steven Spielberg,1993\n"

# Strings Tutorial

## Creating
Strings in Python 3 are collections of unicode characters

### Defining a literal immutable string

Strings in Python are immutable which means once defined they dont change

In [ ]:
message = "The quick fox jumbed over the fence"

Strings can be joined to each other

In [ ]:
name = "Fred"
greeting = "Hello"
message = greeting + " " + name
print(message)

Hello Fred

Strings can be repeated - Try this, it gives a surprising result

In [ ]:
"Hello " * 5

'Hello Hello Hello Hello Hello '

It's also possible to refer to individual unicode characters by character code

In [ ]:
euro = "\u20ac"
print(euro)
euro = "\N{euro sign}"
print(euro)

€
€

Special character or Escape Sequences can be included in your strings.

\n Newline

\t Tab

\\ Backslash

\" Quote

etc

In [ ]:
message = "Hello \n world"
print(message)

Hello
 world

#### Raw Strings
Treat the string as raw by prefixing it with "r". Escpe sequences will be treated as literal values and not interpreted

In [ ]:
message = r"Hello \n world"
print(message)

Hello \n world

### Strings are objects and object have methods

Based on the str class and so have useful functions that we can use to manipulate existing strings to create new ones

In [ ]:
message = "No need to shout"
second_message = message.upper()
print(second_message)

NO NEED TO SHOUT

### To find the position of one string in another use find

In [ ]:

message = "The clever fox jumped over the fence"
pos = message.find("fox")
print(pos)

11

### Replace one string with another

In [ ]:
message = "The clever fox jumped over the fence"
message.replace("fox", "cat")

'The clever cat jumped over the fence'

## Formatting Strings

Joining data together to form a string can become complicated and buggy

In [ ]:
name = "Mina"
device = "iPhone"
selling_price = 129.98727

# Dubious?
name + " wants to sell her " + device + " for " + str(selling_price)

'Mina wants to sell her iPhone for 129.98727'

String formatting aims to reduce the comlexity

In [ ]:
name = "Mina"
device = "iPhone"
selling_price = 129.98727

"{0} wants to sell her {1} for {2}".format(name, device, selling_price)

'Mina wants to sell her iPhone for 129.98727'

where {0}, {1} and {2} are placeholders that will be replaced by the data stored in name, device and selling_price

###Field Formatting
Each insertion point can be formatted using the following syntax

{ position : fill align sign # 0 width . precision type }

In [ ]:
# Within a space of 15 chars center (^) the data, fills he gaps with * chars and 
# treat the data as a strin (s)
"{0:*^15s}".format("Hello")

'*****Hello*****'

fill - Can be any character above we a re using a *

align - < for left align, ^ center align, > right align

sign - + forces numbers to be displayed either with a + for positive or - for negative numbers

\# or 0 - pads numbers with spaces or zeroes

width - determines the field size to be presented in characters (can align within this space)

.precision - how many decimal places

type - d for int, s for string, f for float (see documentation for more)

In [ ]:
print("{0:#8d}".format(23))
print("{0:08d}".format(23))

      23
00000023

Here is a float formatted to two decimal points

In [ ]:
"{0:^15.2f}".format(128.872626)

'    128.87     '

###Format Strings (introduced in Python 3.6) make life a little easier again

Just prefix your string with an f

The variables container with {} will be substituted.

In [ ]:
name = "Mina"
device = "iPhone"
selling_price = 129.98727

f"{name} wants to sell her {device} for {selling_price}"

'Mina wants to sell her iPhone for 129.98727'

## Slicing Strings

Strings are treated by Python a collections or liists of characters. Each character can be accessed by position

Positive numbers will access characters from the left side of the string starting with the first character at character position 0


The code below will print the first letter "H" of Hello World

In [ ]:
message = "Hello World"
print(message[0])

H

Characters can also be retrieved from the right side of a string using negative numbers starting with -1 which refers to the rightmost character. Increasing negative numbers retrieves characters further to the right within the string.


The code below prints ** d ** followed by ** l **

In [ ]:
message = "Hello World"
print(message[-1], message[-2])

d l

####Character Ranges
As well as accessing individual characters you can also access a range of characters from the target string

Below we are accessing characters starting from character zero (or T) upto but not including the character at position 4 (or c)

In [ ]:
message = "The clever fox jumped over the fence"
sub_str = message[0:4]
print(sub_str)