# Variables and Data Type

There is a tutorial at the end of this quick lab. You may want to review it first :)

## Quick Lab 1

### To Do 1

Create variables to store the following information about your favourite movie:

* Title
* Director
* Year of Release
* Duration (minutes)

In [ ]:
# Favourite movie data

### To Do 2

Print out a each of the variables

In [ ]:
# Print your favourite movie details

## Quick Lab 2

### To Do 1

* Create a variable called x and assign to it the value 10
* Display the type of x (use the type() function)
* Display the id of x (use the id() function)

In [9]:
# Create your x variable here

### Quick Info

The print statement can output more than one value and this might become useful in tis section:
```
name = "Fred"
age = 21
print(name, age)
```

### To Do 2


* Assign x to a new variable called y
* print the type of y
* print the id of both x and y. What do you notice?
* Assign the value 99 to the age variable
* print the id of both x and y. What do you notice now?

In [5]:
x = 10
# ToDo 2

10

In this section describe in your own words how we got this result.

#### Explanation

## Quick Lab 3


Look at the code below. It captures loan information for calculating interest.

But the input function returns strings os you will need to:

Convert: 
* principal_str to a float
* years_str to an int

Once you have done that use the following equation to calculate the final_amount


final_amount = princical * (1 + rate)<sup> (years * time_periods)</sup>

You will need to work out how to apply this equation.

In [1]:
time_periods = 12
principal_str = input("Enter loan amount:")
rate_str = input("Enter interest rate amount:")
years_str = input("Enter loan period in years:")

# TODO - Convert Data and add calculation
rate = float(rate_str) / (100.0 * time_periods)

final_amount = None
print(final_amount)

Enter loan amount:1000
Enter interest rate amount:2.5
Enter loan period in years:5
None

# Tutorial

## Talking Directly to the Interpreter
#### You can talk to Python directly from the Python Console and directly execute commands. They could be as simple as basic math operations

In [8]:
2 + 6

8

## Built in Python Commands
#### You can also execute functions from the builtin library that is available on loading the interpreter

In [6]:
print("Hello Worlds")

Hello Worlds

Getting input from the user

In [ ]:
input("Enter your name:")

Enter your name:Fred

'Fred'

## Creating variables

In [ ]:
first_name = "Amy"
age = 20

## Combining Variables and Commands

In [ ]:
first_name = input("Enter your name:")
print ("Hi", first_name)

Enter your name:Beth
Hi Beth

## Using other Modules

Python has access to the functions in the builtin library. If you need anything else you need to import it from reusable modules that are part of the standard library or written by other team members.

**Here** we are importing the random module to generate a random number. Keep running it!

In [ ]:
import random
my_num = random.randint(1, 50)
print(my_num)

# *Data* Type
### Python infers data type based on what you assign to your variable

In [ ]:
name = "Beth"
type(name)

str

In [ ]:
age = 21
type(age)

In [ ]:
price = 9.99
type(price)

float

#### Integers are whole numbers floats are numbers that store the fractional part of the number

## Number Operations

In [ ]:
count = 1
count = count + 1
print(count)

Compound operations allow for simple math operations using a more concise syntax. Code below is the equivalent of above

In [ ]:
count = 1
count += 1
print(count)

### Other Math operators include:
- \* for multiply
- \- for subtract
- / for divide
- // for integer divide
- % for remainder (modulo) division

Each operator has a compound equivalent

### What will be the result of the following operation?

In [ ]:
count = 2
count *= 3
print(count)

## Operating on Types

### Combining Types

### Types can be combined/joined using the + operator

In [ ]:
first_name = "Amy"
last_name = "Anderson"
full_name = first_name + " " + last_name
print(full_name)

### But only if the types are compatible

In [ ]:
age = 21
message = first_name + " is " + age

### int and str don't mix!

### Instead convert the age from an integer to as string using the str function

In [ ]:
message = first_name + " is " + str(age)
print(message)

## Lists and Tuples

In [ ]:
names = ["Fred", "Amy", "Raj", "Bob"]
print(names[1])

### List can be updated

In [ ]:
names = ["Fred", "Amy", "Raj", "Bob"]
print(names[1])
names[1] = "Mina"
print(names)

### Tuples can't be changed

In [ ]:
names = "Fred", "Amy", "Raj", "Bob"
print(names[1])
names[1] = "Mina"
print(names)

## Learning Summary

Record any learning points here